{% extends "layout/base.html" %}
{% load static %}

{% block title %}Hakkımızda{% endblock %}

{% block stylesheets %}<link rel="stylesheet" href="{% static 'assets/css/features.css' %}">{% endblock %}

{% block content %}

    <div class="px-4 py-5 my-5 text-center">
        <a href="/">
            <img class="d-block mx-auto mb-4 rounded" src="{% static 'assets/img/favicons/favicon.png' %}" alt=""
                 width="72" height="72">
        </a>
        <h1 class="display-5 fw-bold text-body-emphasis">Hakkımızda</h1>
        <div class="col-lg-8 mx-auto">
            <p class="lead mb-4" style="text-align: justify;">Quickly design and customize responsive mobile-first sites
                with Bootstrap, the world’s
                most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system,
                extensive prebuilt components, and powerful JavaScript plugins.</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <a href="{% url 'bayi:about' %}#contact"><button type="button" class="btn btn-primary btn-lg px-4 gap-3">İletişim</button></a>
            </div>
        </div>
    </div>

    <div class="container px-4 py-5" id="featured-3">
        <h2 class="pb-2 border-bottom">İletişim</h2>
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
            <div class="feature col">
                <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
                    <svg class="bi" width="1em" height="1em">
                        <use xlink:href="#telephone"/>
                    </svg>
                </div>
                <h3 class="fs-2 text-body-emphasis">Telefon</h3>
                <p>{{ site.phone }}</p>
            </div>
            <div class="feature col">
                <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
                    <svg class="bi" width="1em" height="1em">
                        <use xlink:href="#signpost-2"/>
                    </svg>
                </div>
                <h3 class="fs-2 text-body-emphasis">Adres</h3>
                <p>{{ site.address }}.</p>
            </div>
            <div class="feature col">
                <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
                    <svg class="bi" width="1em" height="1em">
                        <use xlink:href="#envelope-at"/>
                    </svg>
                </div>
                <h3 class="fs-2 text-body-emphasis">Email</h3>
                <p>{{ site.email }}</p>
            </div>
        </div>
    </div>

    {% include 'widgets/contact.html' %}

{% endblock %}