{% extends 'layout/base.html' %}
{% load static settings django_bootstrap5 %}
{% get_setting as obj %}

{% block title %}
    {% if obj %}{{ obj.name.title }}{% else %}Anasayfa{% endif %}
{% endblock %}


{% block stylesheets %}
    <link href="{% static 'assets/css/blog.css' %}?{% now 'U' %}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="https://fonts.googleapis.com/css?family=Playfair&#43;Display:700,900&amp;display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
    {% include 'includes/bayi/cards.html' %}
    <form action="" method="post">
        {% csrf_token %}
        <div class="px-4 pt-5 my-5 border-bottom" id="contact">
            <h1 class="display-5 fw-bold text-body-emphasis text-center fst-italic">İletişim Formu</h1>
            <hr class="mb-5">
            <div class="col-lg-6 mx-auto">
                {% bootstrap_form form %}
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
                    <button type="submit" class="w-100 btn btn-primary px-4 btn-lg">Gönder</button>
                </div>
            </div>

        </div>
    </form>


{% endblock %}