{% extends 'layout/base.html' %}
{% load static settings %}
{% get_setting as obj %}

{% block title %}
    {% if obj %}{{ obj.name.title }}{% else %}Anasayfa{% endif %}
{% endblock %}


{% block dark_mod %}
    {% include 'widgets/darkmod.html' %}
{% endblock %}

{% block stylesheets %}
    <link href="{% static 'assets/css/blog.css' %}?{% now 'U' %}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="https://fonts.googleapis.com/css?family=Playfair&#43;Display:700,900&amp;display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
    <main class="container">
        {% include 'includes/bayi/navbar.html' %}
        {% include 'widgets/subscript.html' %}
        {% include 'includes/bayi/search.html' %}
        {% if messages %}
            {% include 'widgets/messages.html' %}
        {% else %}
            {% include 'includes/bayi/header.html' %}
        {% endif %}
        {% include 'includes/bayi/cards.html' %}
        {% include 'includes/bayi/footer.html' %}
    </main>
{% endblock %}