{% extends 'layout/base.html' %}
{% load static django_bootstrap5 %}

{% block title %}Dashboard{% endblock %}

{% block stylesheets %}
    <!-- Custom styles for this template -->
    <link href="{% static 'assets/css/dashboard.css' %}?{% now 'U' %}" rel="stylesheet">
{% endblock %}


{% block content %}
    {% if user.is_authenticated %}
        <div class="container-fluid">
            <div class="row">

                {% include 'includes/dashboard/sidebar.html' %}

                {% if user.is_superuser or user.is_staff %}
                    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

                        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                            <h1 class="h2">Dashboard</h1>
                            <div class="btn-toolbar mb-2 mb-md-0">
                                <div class="btn-group me-2">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Paylaş</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Çıkart</button>
                                </div>
                                <div class="dropdown">
                                    <a class="btn btn-sm btn-outline-secondary dropdown-toggle d-flex align-items-center gap-1"
                                       href="#" role="button"
                                       data-bs-toggle="dropdown" aria-expanded="false">
                                        <svg class="bi">
                                            <use xlink:href="#calendar3"/>
                                        </svg>
                                        Tarihler
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="#">Günlük Satışlar</a></li>
                                        <li><a class="dropdown-item" href="#">Aylık Satışlar</a></li>
                                        <li><a class="dropdown-item" href="#">Yıllık Satışlar</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>
                        {% include 'includes/dashboard/report.html' %}

                    </main>
                {% else %}
                    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4" style="margin-bottom: 10rem">

                        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                            <h1 class="h2">Dashboard</h1>
                            <div class="btn-toolbar mb-2 mb-md-0">
                                <div class="btn-group me-2">
                                    {% if cart_items %}
                                        <button type="button" class="btn btn-sm btn-outline-secondary"
                                                data-bs-toggle="modal"
                                                data-bs-target="#trashModal">
                                            <i class="bi bi-trash"></i>
                                            Sepeti Sil
                                        </button>
                                        {% include 'widgets/trashModal.html' %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                        {% include 'widgets/messages.html' %}

                        {% if 'sepetim' in request.path %}
                            <h2>Sepetim</h2>
                            {% if cart_items %}
                                <div class="table-responsive small">
                                    <table class="table table-striped table-sm">
                                        <thead>
                                        <tr>
                                            <th scope="col">Ürün</th>
                                            <th scope="col">Miktar</th>
                                            <th scope="col">Birim Fiyat (TL)</th>
                                            <th scope="col">Ara Toplam (TL)</th>
                                            <th scope="col">İşlem Tarihi</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for cartitem in cart_items %}
                                            <tr>
                                                <td>{{ cartitem.product }}</td>
                                                <td>{{ cartitem.quantity }}</td>
                                                <td>{{ cartitem.product.price }}</td>
                                                <td>{{ cartitem.sub_total }}</td>
                                                <td>{{ cart.created }}</td>
                                                <td>
                                                    <a type="button" data-bs-toggle="modal"
                                                       data-bs-target="#editCarModal">
                                                        <img src="{% static 'admin/img/icon-deletelink.svg' %}" alt="">
                                                    </a>
                                                </td>

                                                {% include 'widgets/editCarModal.html' %}
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                <a href="{% url 'bayi:checkout' user cart.cart_number %}">
                                    <button type="button" class="btn btn-outline-secondary float-end">Ödeme Sayfası
                                    </button>
                                </a>
                            {% else %}
                                <p>Sepetinizde ürün bulunamadı</p>
                            {% endif %}
                        {% endif %}

                        {% if 'siparişlerim' in request.path %}
                            <h2>Satın Aldıklarım</h2>
                            {% if order_list %}
                                <div class="table-responsive small">

                                    <table class="table table-striped table-sm">
                                        <thead>
                                        <tr>
                                            <th scope="col">Aldığım ürünler</th>
                                            <th scope="col">Adet</th>
                                            <th scope="col">Brim Fiyat</th>
                                            <th scope="col">Tutar</th>
                                            <th scope="col">Satın alma Tarihi</th>
                                            <th scope="col">Son Ödeme Tarihi</th>
                                        </tr>
                                        </thead>
                                        <tbody>

                                        {% for order in order_list %}
                                            <tr>
                                                <td>{% for product in order.product.all %}{{ product.name }}
                                                    , {% endfor %}</td>
                                                <td>{{ order.quantity }}</td>
                                                <td>{% for product in order.product.all %}
                                                    {{ product.price }} {% endfor %}
                                                    TL
                                                </td>
                                                <td>{{ order.remain }} TL</td>
                                                <td>{{ order.order_date }}</td>
                                                <td>{{ order.last_date }}</td>
                                            </tr>
                                        {% endfor %}
                                        <tr>
                                            <td>Borc</td>
                                            <td></td>
                                            <td>{{ cost }} TL</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            {% else %}
                                <p>Sipariş Bulunamadı</p>
                            {% endif %}
                        {% endif %}

                        {% if 'bilgilerim' in request.path %}
                            <form action="" method="post">
                                {% csrf_token %}
                                <div class="form-group col-md-10 mx-auto">
                                    {% bootstrap_form form2 %}
                                    {% bootstrap_form form %}
                                    <button type="submit" class="btn btn-secondary float-end">Güncelle</button>
                                </div>
                            </form>
                        {% endif %}

                    </main>
                {% endif %}
            </div>
        </div>
    {% else %}
        <h2 class="text-center mt-5 mb-5"><a href="{% url 'login' %}" target="_blank">Giriş Yapın &raquo;</a></h2>
    {% endif %}
{% endblock %}

{% block extra_js %}
    <script src="{% static 'assets/js/dashboard.js' %}?{% now 'U' %}"></script>
{% endblock %}