{% load django_bootstrap5 %}

<!-- İletişim -->
<div class="modal fade" id="contactModal" tabindex="-1" aria-labelledby="contactModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">İletişim</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <form action="{% url 'bayi:contact' %}" method="get">

                <div class="modal-body">

                    <div class="mb-3">

                        <label for="subjectFormControlInput" class="form-label mt-1">Konu</label>
                        <input type="text" class="form-control mt-1" id="subjectFormControlInput"
                               placeholder="Konu" name="subject" value="{{ request.GET.subject }}" required>

                        <label for="nameFormControlInput" class="form-label mt-1">Ad Soyad</label>
                        <input type="text" class="form-control mt-1" id="nameFormControlInput"
                               placeholder="Ad Soyad" name="name" value="{{ request.GET.name }}" required>

                        <label for="emailFormControlInput" class="form-label mt-1">Email Adres</label>
                        <input type="email" class="form-control mt-1" id="emailFormControlInput"
                               placeholder="name@example.com" name="email" value="{{ request.GET.email }}" required>

                        <label for="messageFormControlInput" class="form-label mt-1">Mesaj</label>
                        <input type="text" class="form-control mt-1" id="messageFormControlInput"
                               placeholder="Mesajınız" name="message" value="{{ request.GET.message }}" required>

                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                    <button type="submit" class="btn btn-primary">Gönder</button>
                </div>
            </form>

        </div>
    </div>
</div>