{% load settings static %}
{% get_setting as obj %}

<div class="container fixed-bottom">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <p class="col-md-4 mb-0 text-body-secondary">&copy; {% now 'Y' %} {{ obj.name }}, Inc</p>

        <a href="#"
           class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            {% if obj.favicon %}
                <img src="{{ obj.favicon.url }}" alt="" width="40" height="40">
            {% else %}
                <img src="{% static 'assets/img/favicons/favicon.png' %}" alt="" width="40" height="40">
            {% endif %}

        </a>

        <ul class="nav col-md-4 justify-content-end">
            <li class="nav-item"><a href="/" class="nav-link px-2 text-body-secondary">Anasayfa</a></li>
            <li class="nav-item"><a href="#" data-bs-toggle="modal" data-bs-target="#subscripts"
                                    class="nav-link px-2 text-body-secondary">Abone Ol</a></li>
            <li class="nav-item"><a href="{% url 'accounts:register' %}" class="nav-link px-2 text-body-secondary">Üye
                ol</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">FAQs</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Hakkımızda</a></li>
        </ul>
    </footer>
</div>

