{% load settings static product %}
{% get_setting as obj %}
{% get_product_category as category_list %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" aria-label="Offcanvas navbar large">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">{{ obj.name.title }}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar2"
                aria-controls="offcanvasNavbar2" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasNavbar2"
             aria-labelledby="offcanvasNavbar2Label">

            <div class="offcanvas-header">
                {% if user.is_authenticated %}
                    <h5 class="offcanvas-title" id="offcanvasNavbar2Label">Hoşgeldiniz {{ user }}</h5>
                {% endif %}
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
            </div>

            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Anasayfa</a>
                    </li>


                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            Kategoriler
                        </a>
                        <ul class="dropdown-menu">
                            {% for category in category_list %}
                                <li>
                                    <a class="dropdown-item"
                                       href="{% url 'bayi:category_list' category.slug %}">{{ category.name.title }}</a>
                                </li>
                            {% endfor %}
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li>
                                <a class="dropdown-item" href="/">Tümü</a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            Profil
                        </a>
                        <ul class="dropdown-menu">

                            {% if user.is_authenticated %}
                                {% if user.is_superuser or user.is_staff %}
                                    <li><a class="dropdown-item"
                                           href="{% url 'bayi:dashboard' user %}">Dashboard</a></li>
                                    <li><a class="dropdown-item" href="{% url 'admin:index' %}bayi/product/add/">Ürün
                                        Ekle</a></li>
                                    <li><a class="dropdown-item" href="{% url 'admin:index' %}">Admin Paneli</a></li>

                                {% else %}
                                    <li><a class="dropdown-item" aria-current="page"
                                           href="{% url 'bayi:shoppinglist' user %}">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                             fill="currentColor" class="bi bi-bag" viewBox="0 0 16 16">
                                            <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1m3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1z"/>
                                        </svg>
                                        Siparişlerim
                                    </a></li>
                                    <li><a class="dropdown-item" aria-current="page"
                                           href="{% url 'bayi:sepetim' request.user %}">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                             fill="currentColor"
                                             class="bi bi-cart text-info" viewBox="0 0 16 16">
                                            <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
                                        </svg>
                                        Sepetim
                                    </a></li>
                                    <li><a class="dropdown-item" aria-current="page"
                                           href="{% url 'bayi:my_information' request.user.pk user %}">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                             fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                                            <path fill-rule="evenodd"
                                                  d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                                        </svg>
                                        Bilgilerim
                                    </a></li>
                                {% endif %}
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li>
                                    <form action="{% url 'logout' %}" method="post">
                                        {% csrf_token %}
                                        <button type="submit" class="dropdown-item ">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                 fill="currentColor" class="bi bi-box-arrow-in-right text-danger"
                                                 viewBox="0 0 16 16">
                                                <path fill-rule="evenodd"
                                                      d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0z"/>
                                                <path fill-rule="evenodd"
                                                      d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z"/>
                                            </svg>
                                            Çıkış
                                        </button>
                                    </form>
                                </li>

                            {% else %}
                                <li>
                                    <a class="dropdown-item" href="{% url 'login' %}">Giriş / Üye ol</a>
                                </li>
                            {% endif %}

                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            Diğer
                        </a>
                        <ul class="dropdown-menu">

                            <li>
                                <a class="dropdown-item" href="{% url 'bayi:anasayfa' %}#contact" >İletişim</a>
                            </li>

                            <li><a class="dropdown-item" href="{% url 'bayi:about' %}">Hakkımızda</a></li>

                            <li>
                                <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#subscripts">Abone ol</a>
                            </li>

                        </ul>
                    </li>
                </ul>
                <form class="d-flex mt-3 mt-lg-0" role="search" method="get" >
                    <input class="form-control me-2" type="search" placeholder="Kategori veya Başlık"
                           aria-label="Search" name="ara" value="{{ request.GET.ara }}">
                    <button class="btn btn-outline-success" type="submit">Ara</button>
                </form>
            </div>
        </div>
    </div>
</nav>
