<!-- Searchbar Modal -->
<div class="modal fade" id="searchbar" tabindex="-1" aria-labelledby="searchbarModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h1 class="modal-title fs-5" id="searchbarModalLabel">Arama Yapın</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <form action="" method="get">
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="searchbarFormControlInput1" class="form-label">Ara</label>
                        <input type="text" class="form-control" id="searchbarFormControlInput1" name="ara" value="{{ request.GET.ara }}"
                               placeholder="Kategori veya Başlık" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                    <button type="submit" class="btn btn-primary">Ara</button>
                </div>
            </form>

        </div>
    </div>
</div>