{% load settings static %}
{% get_setting as obj %}

<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-6 border-top fixed-bottom">
    <div class="d-flex align-items-center mx-auto">
        <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
            <img src="{% static 'assets/img/favicons/favicon.png' %}" alt="" width="30" height="30">
        </a>
        <span class="mb-3 mb-md-0 text-body-secondary">&copy; 2024 {{ obj.name }}, Inc</span>
    </div>
</footer>