{% load settings %}
{% get_setting as site_name %}
<div class="sidebar border border-right col-md-3 col-lg-2 p-0 bg-body-tertiary">
    <div class="offcanvas-md offcanvas-end bg-body-tertiary" tabindex="-1" id="sidebarMenu"
         aria-labelledby="sidebarMenuLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="sidebarMenuLabel">{{ site_name.name }}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#sidebarMenu"
                    aria-label="Close"></button>
        </div>
        <div class="offcanvas-body d-md-flex flex-column p-0 pt-lg-3 overflow-y-auto">

            {% if request.user.is_superuser or request.user.is_staff %}

                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link d-flex align-items-center gap-2 active" aria-current="page"
                           href="{% url 'bayi:dashboard' user %}">
                            <svg class="bi">
                                <use xlink:href="#house-fill"/>
                            </svg>
                            Dashboard
                        </a>
                    </li>
                    <li class="nav-item">
                        <a target="_blank" class="nav-link d-flex align-items-center gap-2"
                           href="{% url 'admin:index' %}accounts/ordermodel/">
                            <svg class="bi">
                                <use xlink:href="#file-earmark"/>
                            </svg>
                            Satışlar
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link d-flex align-items-center gap-2" target="_blank"
                           href="{% url 'admin:index' %}bayi/product/">
                            <svg class="bi">
                                <use xlink:href="#cart"/>
                            </svg>
                            Ürünler
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link d-flex align-items-center gap-2"
                           href="{% url 'admin:index' %}accounts/customer/">
                            <svg class="bi">
                                <use xlink:href="#people"/>
                            </svg>
                            Müşteriler
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link d-flex align-items-center gap-2" href="#">
                            <svg class="bi">
                                <use xlink:href="#graph-up"/>
                            </svg>
                            Raporlar
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link d-flex align-items-center gap-2" href="#">
                            <svg class="bi">
                                <use xlink:href="#puzzle"/>
                            </svg>
                            Site Eylemleri
                        </a>
                    </li>
                </ul>

                <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-body-secondary text-uppercase">
                    <span>Kayıtlı Raporlar</span>
                    <a class="link-secondary" href="#" aria-label="Add a new report">
                        <svg class="bi">
                            <use xlink:href="#plus-circle"/>
                        </svg>
                    </a>
                </h6>

                <ul class="nav flex-column mb-auto">
                    <li class="nav-item">
                        <a class="nav-link d-flex align-items-center gap-2" href="#">
                            <svg class="bi">
                                <use xlink:href="#file-earmark-text"/>
                            </svg>
                            Bu ay
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link d-flex align-items-center gap-2" href="#">
                            <svg class="bi">
                                <use xlink:href="#file-earmark-text"/>
                            </svg>
                            Geçtiğimiz çeyrek
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link d-flex align-items-center gap-2" href="#">
                            <svg class="bi">
                                <use xlink:href="#file-earmark-text"/>
                            </svg>
                            Social engagement
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link d-flex align-items-center gap-2" href="#">
                            <svg class="bi">
                                <use xlink:href="#file-earmark-text"/>
                            </svg>
                            Yıl sonu satışları
                        </a>
                    </li>
                </ul>

                <hr class="my-3">

                <ul class="nav flex-column mb-auto">
                    {% if request.user.is_superuser %}
                        <li class="nav-item">
                            <a class="nav-link d-flex align-items-center gap-2 "
                               href="{% url 'admin:index' %}">
                                <i class="bi bi-person-circle text-danger"></i>
                                Admin
                            </a>
                        </li>
                    {% endif %}

                    <li class="nav-item">
                        <a class="nav-link d-flex align-items-center gap-2"
                           href="{% url 'admin:index' %}bayi/settingssite/">
                            <svg class="bi">
                                <use xlink:href="#gear-wide-connected"/>
                            </svg>
                            Ayarlar
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link d-flex align-items-center gap-2"
                           href="{% url 'admin:index' %}bayi/casemodel/">
                            <i class="bi bi-safe"></i>
                            Kasa
                        </a>
                    </li>

                    <li class="nav-item text-danger">

                        <form method="post" action="{% url 'logout' %}">
                            {% csrf_token %}
                            <button type="submit" class="nav-link d-flex align-items-center gap-2">
                                <svg class="bi ">
                                    <use xlink:href="#door-closed"/>
                                </svg>
                                Çıkış
                            </button>
                        </form>

                    </li>
                </ul>

            {% else %}

                <ul class="nav flex-column">

                    <li class="nav-item">
                        <a class="nav-link d-flex align-items-center gap-2 active" aria-current="page"
                           href="/">
                            <svg class="bi">
                                <use xlink:href="#house-fill"/>
                            </svg>
                            Anasayfa
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link d-flex align-items-center gap-2"
                           href="{% url 'bayi:shoppinglist' user %}">
                            <svg class="bi">
                                <use xlink:href="#file-earmark"/>
                            </svg>
                            Siparişlerim
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active d-flex align-items-center gap-2 "
                           href="{% url 'bayi:my_information' user.pk user %}">
                            <svg class="bi">
                                <use xlink:href="#people"/>
                            </svg>
                            Bilgilerim
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link d-flex align-items-center gap-2" href="{% url 'bayi:sepetim' user %}">
                            <svg class="bi">
                                <use xlink:href="#cart"/>
                            </svg>
                            Sepetim
                        </a>
                    </li>

                </ul>

                <hr class="my-3">

                <ul class="nav flex-column mb-auto">

                    <li class="nav-item">
                        <a class="nav-link d-flex align-items-center gap-2" href="{% url 'password_reset' %}">
                            <svg class="bi">
                                <use xlink:href="#gear-wide-connected"/>
                            </svg>
                            Şifremi değiştir
                        </a>
                    </li>

                    <li class="nav-item text-danger">

                        <form method="post" action="{% url 'logout' %}">
                            {% csrf_token %}
                            <button type="submit" class="nav-link d-flex align-items-center gap-2">
                                <svg class="bi ">
                                    <use xlink:href="#door-closed"/>
                                </svg>
                                Çıkış
                            </button>
                        </form>
                    </li>

                </ul>

            {% endif %}
        </div>
    </div>
</div>